@model Cars_ASPCore2.ViewModel.CarInServicesViewModel
@using Cars_ASPCore2.Utility
<div>
    <table class="table table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.PastServiceObject.FirstOrDefault().Miles)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PastServiceObject.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PastServiceObject.FirstOrDefault().Details)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.PastServiceObject.FirstOrDefault().ServiceType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PastServiceObject.FirstOrDefault().DateAdded)
            </th>
        </tr>
        @foreach(var item in Model.PastServiceObject)
        {
        <tr>
            <td>@Html.DisplayFor(m => item.Miles)</td>
            <td>@Html.DisplayFor(m => item.Price)</td>
            <td>@Html.DisplayFor(m => item.Details)</td>
            <td>@Html.DisplayFor(m => item.ServiceType.Name)</td>
            <td>@Html.DisplayFor(m => item.DateAdded)</td>
            <td>
                @if(item.DateAdded.Date == DateTime.Now.Date && User.IsInRole(StaticDetails.AdminEndUser))
                {
                    @Html.Partial("_IndividualButtonPartial",
                                    new IndividualButtonPartial { 
                                        Action="Delete",
                                        ButtonType="btn-danger",
                                        Glyph="trash",
                                        Text="Delete",
                                        ServiceId = item.Id
                                    })

                }
            </td>

        </tr>

        }
    </table>
</div>