@model Cars_ASPCore2.ViewModel.CarInServicesViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<br/>
@Html.Partial("_CarDetailsInServicePartial")
<hr/>

<h4>Service</h4>
<div class="row form-border">
    <form asp-action="Create">
        <input asp-for="CarId" hidden />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @* miles and price *@
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewServiceObj.Miles" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <input asp-for="NewServiceObj.Miles"  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewServiceObj.Price" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <input asp-for="NewServiceObj.Price"  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                   <input type="submit" value="Add Service" class="btn btn-primary btn-sm form-control" /> 
                </div>
            </div>

        </div>

        @* details and servicetype *@
        <div class="col-sm-5 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewServiceObj.Details" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <input asp-for="NewServiceObj.Details" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewServiceObj.ServiceType" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom:5px;">
                    <select asp-for="NewServiceObj.ServiceTypeId" asp-items="@(new SelectList(Model.ServiceTypeObject,"Id","Name"))" class="form-control"></select>
                </div>
            </div>
        </div>
    </form>
</div>
<br/>
<hr/>
<h4>Past Services</h4>
<div class="row form-border">
    @Html.Partial("_DisplayPastServices", Model)
    <div class="row">
        @if(Model.PastServiceObject.Count() == 0)
        {
            <div class="col-sm-12 text-primary" style="padding-bottom:20px;">
                No pas service record found.
            </div>
        }
        <div class="col-sm-3">
            <a asp-controller="Cars" asp-action="Index" asp-route-userId="@Model.UserId" class="btn btn-sm btn-success">Back to list</a>
        </div>
        @if(Model.PastServiceObject.Count() > 4)
        {
            <div class="pull-right" style="padding-right:200px">
                <a asp-controller="Services" asp-action="Index" asp-route-carId="@Model.CarId"
                   class="text-primary">Load All..</a>
            </div>

        }
    </div>
</div>
